body{
    background-image: url('img/ChatGPT\ Image\ 7_01_2026\,\ 00_44_34.png');
    color: white;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.logo{
    padding:0px;
    margin: 0px;
    display: flex;
    padding: 5px;
}
.logo span{
    margin: 15px 0 0 12px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #151413;
    color: white;
    padding: 10px 0 0 5px;
    display: flex;
    justify-content: space-between;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    max-width: 400px;
}

.menu li{
    display: inline;
}

.menu li:not(:last-child)::after{
    content: "|";
    color: rgb(109, 107, 107);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px ;
}

nav{
    margin-top: 0px;
}

.banner {
    background: url('img/pattern002.pg') no-repeat center;
    padding: 80px;
    color: white;
    text-align: center;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
.produtos > h2 {
    text-align: center;
}
section.produtos>h5{
    text-align: center
    ;
}
div.card{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    display: inline-block;
    background-color: aliceblue;
    margin-left: 35px;
    margin-bottom: 5px;
}
div#c1{
    background-image: url("img/melhores\ selecoes/hamburguer.jpg");
    background-size: 200px;
    background-repeat: no-repeat;
}
div#c2{
    background-image: url("img/melhores\ selecoes/Imagem WhatsApp 2025-09-14 às 17.55.40_2e97df12.jpg");
    background-size: 200px;
    background-repeat: no-repeat;
}

div#c3{
    background-image: url("img/melhores\ selecoes/Imagem WhatsApp 2025-09-14 às 17.55.40_2562eb86.jpg");
    background-size: 200px;
    background-repeat: no-repeat;
}

div#c4{
    background-image: url("img/melhores\ selecoes/Imagem WhatsApp 2025-09-14 às 17.55.40_18539a34.jpg");
    background-size: 200px;
    background-repeat: no-repeat;
}
