.logo{
    padding:0px;
    margin: 0px;
    display: flex;
    padding: 5px;
}
.logo span{
    margin: 15px 0 0 12px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #151413;
    color: white;
    padding: 10px 0 0 5px;
    display: flex;
    justify-content: space-between;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li{
    display: inline;
}

.menu li:not(:last-child)::after{
    content: "|";
    color: rgb(109, 107, 107);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px ;
}

nav{
    margin-top: 0px;
}

.banner {
    background: url('../img/banner.jpg') no-repeat center;
    padding: 80px;
    color: white;
    text-align: center;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
.produtos > h2 {
    text-align: center;
}